*{
    font-family: "Montserrat", sans-serif;
}
.Main
{
    height:90vh;
    width:150vh;
    background: linear-gradient(135deg, #4e8cff, #bc59ff);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:  15%;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
}
.form {
    background-color: #fff;
    z-index: 1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height:400px;
    text-align: center;
    margin:0;
}
.input{
    display: flex;
    margin-left:5px;
    flex-wrap: wrap;
    align-items: center;
}
.form .input label{
    font-size: 12px;
    margin-right:10px;
    flex-shrink: 0;
}
.input-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 0.5rem;
 
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #fff;
    flex-wrap: wrap;
}

.input-container .icon {
    padding: 0 10px;
    color: #aaa;
}

.input-field {
    flex-grow: 1;
    border: none;
    padding: 0.5rem;
    outline: none;
}

.input-field::placeholder {
    color: #ccc;
    opacity: 1;
}
 .forget{
    display: flex;
    font-size:12px;
    margin-left:110px;
    font-weight:500px;
}
.input-container .forget{
    margin-bottom:10px;

}
.btn{
    display: flex;
    border-radius: 20px;
    width: 100%;
    margin-top: 1rem;
  
}
.btn1{
    background: linear-gradient(135deg, #4e8cff, #bc59ff);
    width: 100%;
    border-radius: 20px;
    color:#fff;
    border: 1px solid #ccc;
    height: 35px;
}
.singup{
   font-size: 12px;
}
.icons{
    display: flex;
    height: 20px;
    justify-content: center;
    padding: 5px;
}
.img {
    margin: 0 5px; /* Add horizontal space between images */
}
